<?xml version="1.0"?>
<model>
  <name>survivor_tray</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>KAU Aircraft Manufacturing Research Group</name>
  </author>
  <description>
    Static survivor tray/basket model for VTOL AAM rescue mission REP area.
  </description>
</model>
